.brand-logo {
  font-family: "Rock Salt";
  font-size: 42px;
}

#shop,
#blog,
#about,
#my-account {
  font-family: "Raleway";
  font-size: 12px;
}

#shop:hover,
#blog:hover,
#about:hover,
#my-account:hover {
  font-weight: 900;
  text-decoration: overline;
  background: transparent;
}
