/* main navigation */
.brand-logo {
  font-family: "Rock Salt";
}
#brand {
  font-size: 14px;
  color: black;
}

#shop,
#blog,
#about,
#my-account {
  font-family: "Raleway";
  font-size: 12px;
}

#shop:hover,
#blog:hover,
#about:hover,
#my-account:hover {
  text-decoration: overline;
  background: transparent;
}

/* main content grid */

.text {
  font-family: "Rock Salt";
  font-size: 14pt;
}

#colOne,
#colTwo,
#colThree {
  padding-top: 5%;
}

#subColOne,
#subColFive {
  position: relative;
  max-height: 80vh;
  overflow: hidden;
  padding-left: 0;
}

#subColTwo,
#subColThree,
#subColFour,
#subColSix {
  position: relative;
  max-height: 80vh;
  overflow: visible;
  padding-left: 5vw;
}

.title {
  font-family: "Rock Salt";
  font-size: 56pt;
  text-align: right;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
  margin-top: 0;
}

#left {
  font-family: "Rock Salt";
  font-size: 56pt;
  text-align: left;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
  margin-top: 5%;
  display: inline-flex;
}

.sub-title {
  font-family: "Raleway";
  font-size: 14pt;
  text-align: right;
  display: block;
}

#left-subtitle {
  font-family: "Raleway";
  font-size: 14pt;
  text-align: left;
  display: block;
}

.naughty-word {
  font-family: "Rock Salt";
}

a {
  color: black;
}
#btn-flat {
  font-family: "Raleway";
  float: right;
  color: black;
  display: flex;
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}

#flat-left {
  font-family: "Raleway";
  float: left;
  color: black;
  display: flex;
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
}

#btn-flat:after,
#btn-flat:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#flat-left:after,
#flat-left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

#btn-flat:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}

#flat-left:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}

#btn-flat:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

#flat-left:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

#btn-flat:hover:after,
#btn-flat:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}

#flat-left:hover:after,
#flat-left:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}
