/* main navigation */
.brand-logo {
  font-family: "Rock Salt";
}
#brand {
  font-size: 14px;
  color: black;
}

#shop,
#blog,
#about,
#my-account {
  font-family: "Raleway";
  font-size: 12px;
}

#shop:hover,
#blog:hover,
#about:hover,
#my-account:hover {
  text-decoration: overline;
  background: transparent;
}

/* main content grid */

.text {
  font-family: "Rock Salt";
  font-size: 14pt;
}

#colOne {
  padding-top: 5%;
}

#subColOne {
  position: relative;
  max-height: 80vh;
  overflow: hidden;
  padding-left: 0;
}

#subColTwo {
  position: relative;
  max-height: 80vh;
  overflow: visible;
  padding-left: 5vw;
}

.title {
  font-family: "Rock Salt";
  font-size: 56pt;
  text-align: right;
  margin-bottom: 0;
  position: relative;
  z-index: 3;
}

.sub-title {
  font-family: "Raleway";
  font-size: 14pt;
  text-align: right;
}

.naughty-word {
  font-family: "Rock Salt";
}

a {
  color: black;
}
.btn-flat {
  font-family: "Raleway";
  float: right;
  color: black;
}
.btn-flat:hover {
  text-decoration: overline;
}
