#brand-logo {
  font-family: "Rock Salt";
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#shop,
#blog,
#about,
#my-account {
  font-family: "Raleway";
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#shop:hover,
#blog:hover,
#about:hover,
#my-account:hover {
  font-weight: 900;
  text-decoration: overline;
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
}

#shop {
  margin-left: 15px;
}

#my-account {
  margin-right: 15px;
}

#colOne {
  min-height: 90vh;
}

#colTwo {
  min-height: 90vh;
  background-image: url("../images/forloveandlemons/FIONADRESS_BLK_04_540x.jpg");
  background-size: cover;
}

.row .uno {
  min-height: 40vh;
}

p {
  font-family: "Rock Salt";
  font-weight: bolder;
  color: black;
  line-height: 0pt;
  margin-left: 10px;
}

#f {
  font-size: 22px;
}

#colThree {
  min-height: 90vh;
}
