html,
body,
.my-wrapper {
  height: 90%;
}

#home-nav {
  font-family: "Raleway";
  font-size: 12px;
}

.brand-logo {
  font-family: "Rock Salt";
  font-size: 32px;
  margin-bottom: 25px;
}

li {
  margin-bottom: 25px;
}

#shop,
#blog,
#about {
  text-decoration: none;
  color: black;
  padding: 5px 25px 5px 25px;
}

#shop:hover,
#blog:hover,
#about:hover {
  text-decoration: overline;
}
