html,
body,
.my-wrapper {
  height: 90%;
}

#home-nav {
  font-family: "Raleway";
  font-size: 10px;
}

.brand-logo {
  font-family: "Rock Salt";
  font-size: 42px;
  margin-bottom: 50px;
}

li {
  margin-bottom: 30px;
}

#shop,
#blog,
#about {
  text-decoration: none;
  color: black;
  padding: 5px 15px 5px 15px;
}

#shop:hover,
#blog:hover,
#about:hover {
  font-weight: 900;
  text-decoration: overline;
}
